.navBar {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url("https://wallpapers.com/images/hd/lord-of-the-rings-wallpaper-t1a7bjegd66zqs8i.jpg");

    
    border-radius: 5px;
    border-color: darksalmon;
    border-style: groove;
}

.text {
    margin-left: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.textQuiz {
    margin-left: 150px;
    margin-right: 100px;
}

.text:hover {
    color: bisque;
}


    body {  
        background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.3)
        ),
        /* bottom, image */
        url("https://wallpapers.com/images/hd/lord-of-the-rings-wallpaper-t1a7bjegd66zqs8i.jpg");
        background-repeat: round;
    }


.carousel {
    width: 1000px;
    margin: 110px auto;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);
}

.container {
    align-self: center;
}

.lotr {
    pointer-events: none;
}


.welcomeText {
    color: white;
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}