.navBar {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url("https://wallpapers.com/images/hd/lord-of-the-rings-wallpaper-t1a7bjegd66zqs8i.jpg");
    border-radius: 5px;
    border-color: coral;
    border-style: groove;
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    font-size: 1.5rem;
}

.text:hover {
    color: bisque;
}