body {  
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.3)
    ),
    /* bottom, image */
    url("https://wallpapers.com/images/hd/lord-of-the-rings-wallpaper-t1a7bjegd66zqs8i.jpg");
}

.options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}





